:root {
  --primary-color: lightblue;
  --secondary-color: darkblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  position: relative;
  overflow: hidden;
}
section > * {
  max-width: 1200px;
  margin: auto;
}

/* **************************************************************** */
/* HEADER */
/* **************************************************************** */
section.header {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-jcenter {
  justify-content: center;
}
.flex-acenter {
  align-items: center;
}
.flex-apart {
  justify-content: space-between;
}
.pad-all-5 > * {
  padding: 5px;
}
.no-list-style > li {
  list-style: none;
}

/* **************************************************************** */
/* Hero */
/* **************************************************************** */
section.hero-section {
  background: linear-gradient(30deg, red, blue);
  background-size: 400% 400%;
  background-position: 0 0;
  animation: wipe 15s ease infinite;
}

@keyframes wipe {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero-container {
  /* background-color: lightseagreen; */
  min-height: 400px; /* To be changed later depending on animation dimensions */
  max-height: 800px;
  height: 100vh;
}

.hero {
  background-color: lightcoral;
  height: 400px;
  width: 400px;

  display: flex;
  flex-direction: row;

  border-radius: 50%;
  transform: rotate(30deg);
}

.hero div {
  width: 20%;
  height: 80%;
  background-color: black;
  margin: 0 5px;
  border-radius: 30px;
}

.hero div:nth-child(even) {
  /* animation: raindown 0.5s ease-out; */
  margin-bottom: -5000px;
  animation: raindown 0.7s ease-in forwards;
  align-self: flex-end;
}
.hero div:nth-child(odd) {
  margin-top: -5000px;
  animation: rainup 0.7s ease-in forwards;
}

.hero div:nth-child(1) {
  background-color: #08090d;
}
.hero div:nth-child(2) {
  animation-delay: 100ms;
  background-color: #163a59;
}
.hero div:nth-child(3) {
  animation-delay: 200ms;
  background-color: #939f7f;
}
.hero div:nth-child(4) {
  animation-delay: 300ms;
  background-color: #8c5e85;
}
.hero div:nth-child(5) {
  animation-delay: 400ms;
  background-color: #f2efdf;
}

@keyframes raindown {
  0% {
    opacity: 0;
    margin-bottom: -50px;
  }
  80% {
    opacity: 1;
    margin-bottom: 0;
  }
  90% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes rainup {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  80% {
    opacity: 1;
    margin-top: 0;
  }
  90% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}
/* Hero skills */

.skill-bubble img {
  /* display: none; */
  height: 100%;
  width: 100%;
  padding: 20%;
  /* border-radius: 50%; */
}

.skill-bubble {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

  height: 200px;
  width: 200px;
  padding: 20px;

  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: centerl;
}

.skill-bubble:after {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

  content: '';
  left: 5%;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bubble:nth-child(1) {
  animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: -5%;
  top: 5%;

  transform: scale(0.6);
}

.bubble:nth-child(2) {
  animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  transform: scale(0.4);
}

.bubble:nth-child(3) {
  animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;

  transform: scale(0.7);
}

.bubble:nth-child(4) {
  animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;

  left: 20%;
  top: 0;

  transform: scale(0.3);
}

.bubble:nth-child(5) {
  animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 30%;
  top: 50%;

  transform: scale(0.5);
}

.bubble:nth-child(6) {
  animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 50%;
  top: 0;

  transform: scale(0.8);
}

.bubble:nth-child(7) {
  animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 65%;
  top: 70%;

  transform: scale(0.4);
}

.bubble:nth-child(8) {
  animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;

  left: 80%;
  top: 10%;

  transform: scale(0.3);
}

.bubble:nth-child(9) {
  animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 90%;
  top: 50%;

  transform: scale(0.6);
}

.bubble:nth-child(10) {
  animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 80%;
  top: 80%;

  transform: scale(0.3);
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* ********************************************************************** */
/* Footer */
/* ********************************************************************** */
section.footer {
  background-color: var(--secondary-color);
  color: white;
}

/* ********************************************************************** */
/* Theme */
/* ********************************************************************** */
section.hero-section.theme1 {
  background: linear-gradient(30deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-position: 0 0;
  animation: wipe 15s ease infinite;
}
